<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="style.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1> Looping with v-for </h1>
            <ul>
                <li v-for="(character, index) in characters" >{{index + 1}}.{{ character }}</li>
            </ul>
            <ul>
                <li v-for="(ninja, index) in ninjas" >{{index + 1}}.{{ ninja.name }} - {{ ninja.age }}</li>
            </ul>
            <template v-for="(ninja, index) in ninjas" >
                <h3>{{index + 1}}.{{ ninja.name }}</h3>
                <p>{{ ninja.age }}</p>
            </template >

            <!--在取对象时，使用二元组 先返回val再返回key，记住反的就行-->
            <template v-for="ninja in ninjas" >
                <div v-for="(val, key) in ninja">
                    <p>{{key}} - {{val}}</p>
                </div>
            </template >

        </div>
    </body>

    <script src="app.js"></script>
</html>
